In [ ]:
import pandas as pd
from sqlalchemy import create_engine
from tqdm.auto import tqdm

'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz'

In [36]:
df = pd.read_csv(url)

/tmp/ipykernel_6298/4176769558.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(url)

In [ ]:
dtype = {
    "VendorID": "Int64",
    "passenger_count": "Int64",
    "trip_distance": "float64",
    "RatecodeID": "Int64",
    "store_and_fwd_flag": "string",
    "PULocationID": "Int64",
    "DOLocationID": "Int64",
    "payment_type": "Int64",
    "fare_amount": "float64",
    "extra": "float64",
    "mta_tax": "float64",
    "tip_amount": "float64",
    "tolls_amount": "float64",
    "improvement_surcharge": "float64",
    "total_amount": "float64",
    "congestion_surcharge": "float64"
}

parse_dates = [
    "tpep_pickup_datetime",
    "tpep_dropoff_datetime"
]





df = pd.read_csv(
    url,
    nrows=100,
    dtype=dtype,
    parse_dates=parse_dates
)

In [35]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
1300000,<NA>,2021-01-05 10:38:40,2021-01-05 10:46:20,<NA>,1.30,<NA>,<NA>,170,161,<NA>,7.00,0.0,0.5,1.03,0.00,0.3,11.33,2.5
1300001,<NA>,2021-01-05 10:17:14,2021-01-05 10:41:21,<NA>,7.90,<NA>,<NA>,216,198,<NA>,31.49,0.0,0.5,2.75,0.00,0.3,35.04,0.0
1300002,<NA>,2021-01-05 10:39:00,2021-01-05 10:46:00,<NA>,0.98,<NA>,<NA>,62,62,<NA>,16.23,0.0,0.5,2.75,0.00,0.3,19.78,0.0
1300003,<NA>,2021-01-05 10:05:00,2021-01-05 10:19:00,<NA>,1.59,<NA>,<NA>,85,71,<NA>,13.45,0.0,0.5,2.75,0.00,0.3,17.00,0.0
1300004,<NA>,2021-01-05 10:18:08,2021-01-05 10:41:40,<NA>,9.87,<NA>,<NA>,236,208,<NA>,30.23,0.0,0.5,2.75,6.12,0.3,39.90,0.0

In [34]:
df['VendorID']

1300000    <NA>
1300001    <NA>
1300002    <NA>
1300003    <NA>
1300004    <NA>
           ...
1369760    <NA>
1369761    <NA>
1369762    <NA>
1369763    <NA>
1369764    <NA>
Name: VendorID, Length: 69765, dtype: Int64

In [2]:
!uv add sqlalchemy

Resolved 118 packages in 1.35s
Prepared 2 packages in 119ms
░░░░░░░░░░░░░░░░░░░░ [0/2] Installing wheels...                                 warning: Failed to hardlink files; falling back to full copy. This may lead to degraded performance.
         If the cache and target directories are on different filesystems, hardlinking may not be supported.
         If this is intentional, set `export UV_LINK_MODE=copy` or use `--link-mode=copy` to suppress this warning.
Installed 2 packages in 45ms
 + greenlet==3.3.0
 + sqlalchemy==2.0.45

In [4]:
!uv add psycopg2-binary

Resolved 119 packages in 98ms
Prepared 1 package in 81ms
░░░░░░░░░░░░░░░░░░░░ [0/1] Installing wheels...                                 warning: Failed to hardlink files; falling back to full copy. This may lead to degraded performance.
         If the cache and target directories are on different filesystems, hardlinking may not be supported.
         If this is intentional, set `export UV_LINK_MODE=copy` or use `--link-mode=copy` to suppress this warning.
Installed 1 package in 12ms.11
 + psycopg2-binary==2.9.11

In [5]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [14]:
df.head(0)

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge]
Index: []

In [ ]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')


def run():
    #adding more parameterized variables
    pg_user = 'root'
    pg_pass = 'root'
    pg_host = 'localhost'
    pg_port = 5432
    pg_db = 'ny_taxi'

    year = 2021
    month = 1
    
    target_table = 'yellow_taxi_data'
    
    chunksize = 100000
    
    #we split up the url in two parts the prefix and url to make and entire url 
    prefix = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow'
    url = f'{prefix}/yellow_tripdata_{year}-{month}.csv.gz'
    
    engine = create_engine(f'postgresql://{pg_user}:{pg_pass}@{pg_host}:{pg_port}/{pg_db}')
    
    df_iter = pd.read_csv(
        url,
        dtype=dtype,
        parse_dates=parse_dates,
        iterator=True,
        chunksize=100000
    )
    
    first = True
    for df_chunk in tqdm(df_iter):
        if first:
            df_chunk.head(0).to_sql(
                name= target_table, 
                con=engine, if_exists='replace')
            first = False
            
        df_chunk.to_sql(
            name= target_table, 
            con=engine, 
            if_exists='append'
        )
        
        
if __name__ == '__main__':
    
    run()

0

In [32]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [17]:
len(df)

100

In [18]:
len

In [ ]:
#print(df_iter)

<pandas.io.parsers.readers.TextFileReader object at 0x74f152eda780>

In [ ]:
#df = next(df_iter)

In [ ]:
#df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
1300000,<NA>,2021-01-05 10:38:40,2021-01-05 10:46:20,<NA>,1.30,<NA>,<NA>,170,161,<NA>,7.00,0.00,0.5,1.03,0.00,0.3,11.33,2.5
1300001,<NA>,2021-01-05 10:17:14,2021-01-05 10:41:21,<NA>,7.90,<NA>,<NA>,216,198,<NA>,31.49,0.00,0.5,2.75,0.00,0.3,35.04,0.0
1300002,<NA>,2021-01-05 10:39:00,2021-01-05 10:46:00,<NA>,0.98,<NA>,<NA>,62,62,<NA>,16.23,0.00,0.5,2.75,0.00,0.3,19.78,0.0
1300003,<NA>,2021-01-05 10:05:00,2021-01-05 10:19:00,<NA>,1.59,<NA>,<NA>,85,71,<NA>,13.45,0.00,0.5,2.75,0.00,0.3,17.00,0.0
1300004,<NA>,2021-01-05 10:18:08,2021-01-05 10:41:40,<NA>,9.87,<NA>,<NA>,236,208,<NA>,30.23,0.00,0.5,2.75,6.12,0.3,39.90,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1369760,<NA>,2021-01-25 08:32:04,2021-01-25 08:49:32,<NA>,8.80,<NA>,<NA>,135,82,<NA>,21.84,2.75,0.5,0.00,0.00,0.3,25.39,0.0
1369761,<NA>,2021-01-25 08:34:00,2021-01-25 09:04:00,<NA>,5.86,<NA>,<NA>,42,161,<NA>,26.67,2.75,0.5,0.00,0.00,0.3,30.22,0.0
1369762,<NA>,2021-01-25 08:37:00,2021-01-25 08:53:00,<NA>,4.45,<NA>,<NA>,14,106,<NA>,25.29,2.75,0.5,0.00,0.00,0.3,28.84,0.0
1369763,<NA>,2021-01-25 08:28:00,2021-01-25 08:50:00,<NA>,10.04,<NA>,<NA>,175,216,<NA>,28.24,2.75,0.5,0.00,0.00,0.3,31.79,0.0
1369764,<NA>,2021-01-25 08:38:00,2021-01-25 08:50:00,<NA>,4.93,<NA>,<NA>,248,168,<NA>,20.76,2.75,0.5,0.00,0.00,0.3,24.31,0.0

In [ ]:
#print(df)

       VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0             1  2021-01-01 00:30:10   2021-01-01 00:36:12                1
1             1  2021-01-01 00:51:20   2021-01-01 00:52:19                1
2             1  2021-01-01 00:43:30   2021-01-01 01:11:06                1
3             1  2021-01-01 00:15:48   2021-01-01 00:31:01                0
4             2  2021-01-01 00:31:49   2021-01-01 00:48:21                1
...         ...                  ...                   ...              ...
99995         1  2021-01-04 14:04:31   2021-01-04 14:08:52                3
99996         1  2021-01-04 14:18:46   2021-01-04 14:35:45                2
99997         1  2021-01-04 14:42:41   2021-01-04 14:59:22                2
99998         2  2021-01-04 14:39:02   2021-01-04 15:09:37                2
99999         2  2021-01-04 14:49:36   2021-01-04 14:54:44                5

       trip_distance  RatecodeID store_and_fwd_flag  PULocationID  \
0               2.10           1                  N           142
1               0.20           1                  N           238
2              14.70           1                  N           132
3              10.60           1                  N           138
4               4.94           1                  N            68
...              ...         ...                ...           ...
99995           0.70           1                  N           234
99996           3.30           1                  N           234
99997           4.70           1                  N           236
99998          17.95           2                  N           132
99999           0.37           1                  N           236

       DOLocationID  payment_type  fare_amount  extra  mta_tax  tip_amount  \
0                43             2          8.0    3.0      0.5        0.00
1               151             2          3.0    0.5      0.5        0.00
2               165             1         42.0    0.5      0.5        8.65
3               132             1         29.0    0.5      0.5        6.05
4                33             1         16.5    0.5      0.5        4.06
...             ...           ...          ...    ...      ...         ...
99995           224             2          5.0    2.5      0.5        0.00
99996           236             1         14.5    2.5      0.5        3.55
99997            79             1         17.0    2.5      0.5        4.05
99998           148             1         52.0    0.0      0.5        5.00
99999           236             2          5.0    0.0      0.5        0.00

       tolls_amount  improvement_surcharge  total_amount  congestion_surcharge
0               0.0                    0.3         11.80                   2.5
1               0.0                    0.3          4.30                   0.0
2               0.0                    0.3         51.95                   0.0
3               0.0                    0.3         36.35                   0.0
4               0.0                    0.3         24.36                   2.5
...             ...                    ...           ...                   ...
99995           0.0                    0.3          8.30                   2.5
99996           0.0                    0.3         21.35                   2.5
99997           0.0                    0.3         24.35                   2.5
99998           0.0                    0.3         60.30                   2.5
99999           0.0                    0.3          8.30                   2.5

[100000 rows x 18 columns]

In [ ]:
#!uv add tqdm

Resolved 120 packages in 0.60ms
Audited 12 packages in 0.21ms

0it [00:00, ?it/s]